* {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

html, body {
  width: 100vw;
  height: 100%;
}

nav {
  background: rgb(175,82,255);
  background: linear-gradient(351deg, rgba(175,82,255,1) 0%, rgba(0,212,255,1) 100%);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 15vw;
  border-bottom-left-radius: 5rem;
  z-index: 10;
  /* clip-path: circle(20%); */
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
  padding: 1.25rem;
  margin-left: 0.75rem;
}

nav li {
  text-align: center;
  min-width: 2.5rem;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.work {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 2.5%;
  width: 100vw;
}

.about {
  border: solid 1px black;
  width: 100%;
  height: 100vh;
}

.title-label {
  margin: 4.5rem 0;
}

.title-label-2 {
  margin: -2.5rem 0 0 0;
  text-align: center;
}

.lower-cta-tagline {
  margin-bottom: 2.5rem;
  max-width: 60vw;
}

.center-wrapper {
  pointer-events: none;
  z-index: 5;
}

.partial-bg {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #e3e3e3;
  min-height: 100vh;
  width: 47.3%;
}

.firstname,
.lastname {
  font-size: 10vw;
  font-weight: 100;
}

.skills {
  font-size: 2.9vw;
  font-weight: 300;
  margin: 2.5% 0;
  padding: 0 1.5%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.underline {
  padding-bottom: 1%;
  border-bottom: solid 0.5px rgba(0,0,0,0.85);
}

.social-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
  display: flex;
  margin: 0.25rem;
}

.social-icons li {
  font-size: 1.5rem;
  padding: 1rem;
  min-width: 2rem;
  text-align: center;
  cursor: pointer;
}

.fa-github {
  color: #F1502F;
}

.fa-linkedin-in {
  color: #2867B2;
}

.fa-envelope-square {
  color: rgba(0,0,0,0.65)
}

.portfolio-item-wrapper {
  max-width: 100vw;
  overflow: scroll;
  margin: 0 2.5rem;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2.5rem 0;
  max-width: 100vw;
}

.portfolio-card-info {
  padding: 0 2.5rem 1.5rem 0;
  width: 27.5rem;
  flex-grow: 1;
  margin-left: 2.5rem;
}

.portfolio-card-info > * {
  padding: 0.75rem 0;
}

.portfolio-card-info button {
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.device-mock {
  min-width: 20rem;
  width: 30rem;
  max-width: 100%;
  flex-grow: 1;
  height: 100%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
}

.portfolio-description {
  line-height: 1.5;
}

footer {
  background-color: grey;
  height: 20rem;
}
