* {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  background-color: #F1F3F7;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  text-align: center;
  min-width: 2.5rem;
  margin: 0.75rem 1.5rem;
  font-size: 1.15rem;
  cursor: pointer;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-wrapper {
  pointer-events: none;
}

.partial-bg {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #e3e3e3;
  min-height: 100vh;
  width: 47.85%;
  /* z-index: -1; */
}

.firstname,
.lastname {
  font-size: 20vw;
  font-weight: 200;
}

.skills {
  font-size: 2.9vw;
  font-weight: 300;
  margin: 2.5% 0;
  padding: 0 3%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.underline {
  padding-bottom: 1%;
  border-bottom: solid 0.5px rgba(0,0,0,0.85);
}

.social-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
  display: flex;
  margin: 0.25rem;
}

.social-icons li {
  font-size: 1.5rem;
  padding: 1rem;
  min-width: 2rem;
  text-align: center;
  cursor: pointer;
}

.fa-github {
  color: #F1502F;
}

.fa-linkedin-in {
  color: #2867B2;
}

.fa-envelope-square {
  color: rgba(0,0,0,0.65)
}

#hello {
  /* width: 40vw; */
}
